/* General container styling */
.container {
    padding: 20px;
    background: linear-gradient(to right, #f9f9f9, #eaeaea);
    color: #333;
  }
  
  /* Header styling */
  .container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  /* Table header styling */
  th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
  }
  .td-left-align {
    text-align: left;
  }
  
  /* Update button styling */
  .update-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .update-button:hover {
    background-color: #45a049;
  }
  
  /* Delete button styling */
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-button:hover {
    background-color: #e53935;
  }